In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("out/summary.csv")

In [4]:
data["solver_duration"] = data["solver_end"] - data["solver_start"]

In [5]:
data

     solver_start     solver_end     id conf  solver_duration
0   1771511198159  1771511198394  cksum  fwd              235
1   1771511198192  1771511198385  cksum   bu              193
2   1771511198184  1771511198380  cksum  wbu              196
3   1771511198135  1771511201270    cut  fwd             3135
4   1771511198178  1771511199976    cut   bu             1798
5   1771511198139  1771511199915    cut  wbu             1776
6   1771511198198  1771511203534     dd  fwd             5336
7   1771511198189  1771511201341     dd   bu             3152
8   1771511198176  1771511201403     dd  wbu             3227
9   1771511198180  1771511262186     df  fwd            64006
10  1771511198121  1771511234297     df   bu            36176
11  1771511198193  1771511233761     df  wbu            35568
12  1771511198147  1771511243538     du  fwd            45391
13  1771511198122  1771511228893     du   bu            30771
14  1771511198192  1771511228581     du  wbu            30389

In [6]:
groups = data.groupby(["id"])

In [11]:
REFERENCE = "fwd"

extended_groups = []

for name, gr in groups:
    reference_duration = gr[gr["conf"] == REFERENCE]["solver_duration"].mean()
    gr["relative_solver_duration"] = gr["solver_duration"] / reference_duration
    extended_groups.append(gr)
    
extended_data = pd.concat(extended_groups)
extended_data

,solver_start,solver_end,id,conf,solver_duration,relative_solver_duration
0,1771511198159,1771511198394,cksum,fwd,235,1.000000
1,1771511198192,1771511198385,cksum,bu,193,0.821277
2,1771511198184,1771511198380,cksum,wbu,196,0.834043
3,1771511198135,1771511201270,cut,fwd,3135,1.000000
4,1771511198178,1771511199976,cut,bu,1798,0.573525
5,1771511198139,1771511199915,cut,wbu,1776,0.566507
6,1771511198198,1771511203534,dd,fwd,5336,1.000000
7,1771511198189,1771511201341,dd,bu,3152,0.590705
8,1771511198176,1771511201403,dd,wbu,3227,0.604760
9,1771511198180,1771511262186,df,fwd,64006,1.000000
10,1771511198121,1771511234297,df,bu,36176,0.565197
11,1771511198193,1771511233761,df,wbu,35568,0.555698
12,1771511198147,1771511243538,du,fwd,45391,1.000000
13,1771511198122,1771511228893,du,bu,30771,0.677910
14,1771511198192,1771511228581,du,wbu,30389,0.669494